{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  }
}