{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": [
    "jest",
    "prettier",
    "sonarjs"
  ],
  "rules": {
    "linebreak-style": "off",
    "prettier/prettier": "error"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  }
}